:root {
    --main-bg-color: #ffffff;
    --gradient-bg-color: #FFFAF0 25%,#FFE0D0 50%;
    --word-bg-color: linear-gradient(#FEFFF9,#E8DECF);
    --input-bg-color: linear-gradient(#FEFFF9,#E8DECF);
    --font-color:#62584D;
  }

body{
    margin: 0;
    padding: 0;
    background: var(--main-bg-color); 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 

.mainApp{
    width: 300px;
    height: 600px;
    background-color: rgb(65, 65, 65);

    .menu{

    }
}



/* Media Queries for Responsiveness */

/* @media (max-width: 768px) {

} */
