button{
    background-color: white;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: @border-radius-default;
    box-shadow: @box-shadow-default;
    transition: @transition-hover;

    &:hover {
      transform: scale(1.05);
    }
  }

#btnTips{
  position: absolute;
  right: 15px;
  color: red;
  width: 20px;
  height: 20px;
  border-radius: @border-radius-circle;
}