// Couleurs
:root {
    --mainColor: #aed7e5;
    --bgColorScore: white;
}
@mainColor:var(--mainColor);
@bgColorScore:white;

@color-white:white;
@color-lightgrey:#e2e2e2;
@color-yellow: #F2CF7D;
@color-blue: #3B80F5;
@color-pink: #E9C1FF;
@background-color:rgb(63, 63, 63);
@text-color: #333;

// Padding

@padding-default:20px;

// Espacements
@spacing-small: 8px;
@spacing-medium: 16px;
@spacing-large: 32px;

// Typographie
@font-familly-default:"montserrat", sans-serif;
@font-familly-REM:"REM", sans-serif;

@font-size-extra-light: 12px;
@font-size-light: 14px;
@font-size-default: 16px;
@font-size-large: 24px;

@font-weight-tigh:200;
@font-weight-default:500;
@font-weight-bold:700;

// Box shadow
@box-shadow-light: 1px 1px 2px #00000040;
@box-shadow-default: 2px 2px 4px #00000040;
@box-shadow-heavy: 4px 4px 8px #00000060;

// Border radius
@border-radius-light: 5px;
@border-radius-medium: 15px;
@border-radius-default: 25px;
@border-radius-circle: 50%;

// Transition
@transition-hover:all 150ms ease-in-out;
@transition-ease-default:all .3s ease;

// Responsive / points de rupture 
:root {
    --tablet: 880px;
    --mobile: 480px;
}
@tablet: 880px;
@mobile: 480px;