// Couleurs
@primary-color: #3498db;
@secondary-color: #2ecc71;
@background-color:grey;
@text-color: #333;

// Espacements
@spacing-small: 8px;
@spacing-medium: 16px;
@spacing-large: 32px;

// Typographie
@font-size-base: 16px;
@font-size-large: 24px;
