// out: "../styles/main.css", compress: true, sourceMap: true

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


// Variables et Mixins
@import "base/variables";
@import "base/mixins";

// Styles de base
@import "base/typography";

// Mise en page
@import "layout/header";
@import "layout/footer";

// Composants
@import "components/button";
@import "components/input";
@import "components/score";
@import "components/mainAppWordGuess";



// Pages spécifiques
@import "pages/home";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

body{   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: @background-color;
} 

#app{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: rgb(65, 65, 65);
}
